<settings>
  <servers>
    <server>
      <configuration>
        <httpConfiguration>
          <all>
            <usePreemptive>true</usePreemptive>
          </all>
        </httpConfiguration>
      </configuration>
      <id>jfrog-artifactory</id>
      <username>${env.ARTIFACTORY_CREDS_USR}</username>
      <password>${env.ARTIFACTORY_CREDS_PSW}</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>fortknox-lineaje</id>
      <mirrorOf>*,!plugin-repository,!central-plugins</mirrorOf>
      <url>https://jfrog.commercialdev.dev.veedna.com/artifactory/gos-all-maven</url>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>disable-central</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>fortknox-lineaje</id>
          <url>https://jfrog.commercialdev.dev.veedna.com/artifactory/gos-all-maven</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central-plugins</id>
          <url>https://repo.maven.apache.org/maven2</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>disable-central</activeProfile>
  </activeProfiles>
</settings>